.tabs { padding: 1rem 0 ;}
.tab-nav-container { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 0 12%;
    justify-content: center;
    align-content: center;
    text-align: center;
    list-style: none;

}

ul.tab-nav-container li {
    color: var(--main-grey);
    font-size: 1.4rem;
    padding: 2rem;
    cursor: pointer;
}

ul.tab-nav-container li:first-child {
    /* padding-top: 1rem; */
}

ul.tab-nav-container li.active {
    border-bottom: .4rem solid var(--main-red);
}

.tab-selected p{
    color: var(--color-white);
    font-weight: 500;
}

.tab-selected svg path {
    fill: var(--color-text);
}

ul.tab-nav-container li:hover {
    color: var(--color-text);
}

ul.tab-nav-container li:hover svg path {
    fill: var(--color-white);
}

/* Contents */

