/* GLOBAL VAR */

:root {
    --main-red: rgba(211,9,19);
    --main-red-hover: #e50914;
    --main-dark: rgba(20,20,20);
    --main-deep-dark: rgba(0,0,0);
    --main-grey: rgba(153,153,153);
    --color-white: #fff;
    --color-text: #f3f3f3;
    --color-error: #E87C03;
    --btn-color: #e50914;
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

li:focus {
    outline: none;
}

svg path{
    outline: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-scroll-bahavior: smooth;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    -webkit-font-smoothing: antialiased;
    background-color: var(--main-dark);
    color: var(--color-text);
}

a {
    text-decoration: none;
}

.mb-20 {
    margin: 2rem
}

.d-flex { display: flex; }
.j-center { justify-content: center; }
.align-center{ align-items: center; }

.main-title {
    font-size: 5rem;
    display: block;
    margin-bottom: 1.5rem;
}

.secondary-title {
    font-size: 2.3rem;
    font-weight: 500;
    display: block;
    margin-bottom: 3.5rem;
}

.tertiary-title {
    font-size: 1.9rem;
    font-weight: 500;
    display: block;
}

.subscrib-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.form__input::-webkit-input-placeholder{ color:#8c8c8c;font-size: 1.6rem; }

.subscrib__label {
    position: absolute;
    top: 35%;
    left: 10px;
    color: #8c8c8c;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all .2s;
    pointer-events: none;
}

.form__subscribe {
    margin-bottom: 1.5rem;
}

.subscriber__input {
    height: 6rem;
    width: 70%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.subscriber__btn {
    min-height: 6rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form__input {
    border: 1px solid #eee;
    padding: 7px 10px;
    font-size: 1.6rem;
    font-family: inherit;
    border: solid 1px #8c8c8c;
    color: #000000;
}

.form__input:focus:invalid {
    border: 2px solid var(--color-error);
}

.form__subscribe .form__input:focus,
.form__subscribe .form__input:valid {
    outline: none;
    padding-top: 15px;
}

.form__subscribe .form__input:focus + label.subscrib__label {
    top: 15%;
    font-size: 1.4rem;
    font-weight: 700;
    color: #777;
}

.form__subscribe .form__input:focus + label.subscrib__label,
.form__subscribe .form__input:valid + label.subscrib__label {
    top: 10%;
    font-size: 1.3rem;
    font-weight: 700;
    color: #8c8c8c;
}

.form__btn,
.form__btn:active {
    border: 1px solid var(--btn-color);
    outline: none;
    background-color: var(--btn-color);
    text-transform:uppercase;
    font-weight: 500;
    color: var(--color-text);
    font-size: 2.1rem;
}



